<footer id="main-footer" class="py-4 bg-custom text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="social text-center">
          <a href="#">
            <i class="fab fa-instagram" style="color:#fb3958"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook" style="color:#3b5998"></i>
          </a>
        <a href="#">
          <i class="fab fa-twitter" style="color:#55acee"></i>
        </a>
        
        <a href="#">
          <i class="fab fa-linkedin" style="color:#0e76a8"></i>
        </a>
        
        <a href="#">
          <i class="fab fa-pinterest" style="color:#c8232c"></i>
        </a>
      </div>
      </div>
      <div class="col-md-10 text-center">
        Copyright &copy;
        <span class="year"></span> Fair Claim Solutions
      </div>
    </div>
  </div>

  </footer>