    {% load static %}
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-custom solid">
            <div class="container">
              <a class="navbar-brand" href="{% url 'index' %}">
                <strong><img src="{%static 'img/1.png' %}" class="logo" alt=""></strong>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                  <li 
                  {%if '/' == request.path %}
                  class="nav-item active mr-3"
                  {%else%}
                  class="nav-item mr-3"
                  {%endif%}
                  >
                    <a class="nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
                  </li>
                  <li 
                  {%if 'about' in  request.path %}
                  class="nav-item active mr-3"
                  {%else%}
                  class="nav-item mr-3"
                  {%endif%}
                  >
                    <a class="nav-link" href="{% url 'about' %}"><strong>About Us</strong></a>
                  </li>
                  <li 
                  {%if 'claims' in  request.path %}
                  class="nav-item active mr-3"
                  {%else%}
                  class="nav-item mr-3"
                  {%endif%}
                  >
                    <a class="nav-link" href="{% url 'claims' %}"><strong>Claims</strong></a>
                  </li>
                  <li 
                  {%if 'contact-us' in  request.path %}
                  class="nav-item active mr-3"
                  {%else%}
                  class="nav-item mr-3"
                  {%endif%}
                  >
                    <a class="nav-link" href="{% url 'contactus' %}"><strong>Contact Us</strong></a>
                  </li>
                </ul>
        
                <ul class="navbar-nav ml-auto">
                  {% if user.is_authenticated %}
                    <li 
                    {%if 'dashboard' in  request.path %}
                    class="nav-item active mr-3"
                    {%else%}
                    class="nav-item mr-3"
                    {%endif%}
                    >
                      <a class="nav-link" href="{% url 'dashboard' %}">
                        <strong>Welcome {{ user.username }}  (Dashboard)</strong>
                      </a>
                    </li>
                    <li class="nav-item mr-3">
                      <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                        <strong><i class="fas fa-sign-out-alt"></i> Logout</strong>
                      </a>
                      <form action="{% url 'logout' %}" method="POST" id="logout">
                        {% csrf_token %}
                        <input type="hidden">
                      </form>
                    </li>
                  {% else %}
                    <li 
                    {%if 'register' in  request.path %}
                    class="nav-item active mr-3"
                    {%else%}
                    class="nav-item mr-3"
                    {%endif%}
                    >
                      <a class="nav-link" href="{% url 'register' %}">
                       <strong><i class="fas fa-user-plus"></i> Register</strong></a>
                    </li>
                    <li 
                    {%if 'login' in  request.path %}
                    class="nav-item active mr-3"
                    {%else%}
                    class="nav-item mr-3"
                    {%endif%}
                    >
                      <a class="nav-link" href="{% url 'login' %}">
                        <strong><i class="fas fa-sign-in-alt"></i> Login</strong></a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>