    <!-- Top Bar -->
    <section id="top-bar" class="pt-3 solid">
      <div class="container">
        <div class="row">
          <div class="col-md-4 custom-color custom">
            <p style="font-weight:500;font-size:1.8rem;"><strong>Fair Claim Solutions</strong></p>
          </div>
          <div class="col-md-4 p-3 custom">
          <i class="fas fa-phone custom-color"></i> +91-9999858079 (Mon-Sat | 10 AM-6PM)
        </div>
          <div class="col-md-4 p-3 custom">
            <i class="fas fa-envelope-open custom-color"></i> support@fairclaimsolutions.com
          </div>
        </div>
      </div>
    </section>