{% extends 'base.html' %}

{%load static %}

{% block title %} | About Us {% endblock %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12" style="color: #151073">
              <h1 class="display-4">About Fair Claim Solutions</h1>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{%url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <section id="about" class="py-4">
        <div class="container">
          <!-- <div class="row"> -->
            {%if contents %}
            {% for content in contents %}
            <div>
              <p class="lead" style="text-align: justify;">Fair Claim Solutions was founded in 2019 by a group of friends who are practicing Doctors and Insurance Industry experts. As part of the Insurance Industry we witnessed frantic calls and chain of e-mails being exchanged by customers waiting to get their claim passed. In the hospitals it was equally painful to see the Insured’s attendants eagerly waiting, doing rounds at the TPA desk to check if the claim was approved. </p>
              <!-- <img src="{{content.about_photo.url}}" alt=""> -->
              <p class="mt-4 lead"  style="text-align: justify;">The founders collectively have over three decades of experience in dealing with Insurance claims of various sectors like Health, Motor, Travel and Life Claims.  We strongly believe that a Policy document is just not a piece of paper but a commitment to pay genuine claims as and when it occurs. Our motto is to simplify the technicality and complexity associated with the Insurance claim in your best interests.</p>
            </div>
            {% endfor %}
            {% endif %}
            <!-- <div class="col-md-4">
              {% if supports %}
                {% for realtor in supports %}
                <div class="card">
                    <img class="card-img-top" src="{{realtor.photo.url}}"  alt="Customer Support">
                    <div class="card-body">
                      <h5 class="card-title">{{realtor.designation}}</h5>
                      <h6 class="text-secondary">{{ realtor.name }}</h6>
                      <p class="card-text">{{ realtor.description }}
                      </p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
              
            </div> -->
          <!-- </div> -->
        </div>
      </section>

      <section id="whyUs">
        <div class="container mt-4 mb-4">
          <h2 style="text-align: center;">Why Us</h2>
          <hr>
        <p class="lead" style="text-align: justify;">While we agree that the Insurance companies do work hard towards fair claim settlement and enhanced customer experience. IRDAI, the insurance regulatory body has also laid strict guidelines to ensure that a customer gets fair and timely action on their Insurance claim however the outliers are way beyond the threshold limits. </p>
        <p class="lead" style="text-align: justify;">The product which you essentially buy when you buy insurance is the Claims Service. With the reduction in insurance premium rates, Lack of Staff Training and Improper explanation of policy coverage, we are now witnessing a trend wherein number of repudiated Claims has increased. 
          In order to reopen such repudiated Claims, services of a Claim Expert is required. Apart from ensuring that you get the right type of policy which responds to your stated exposures, we consider it our duty to stand by you in the event of a claim occurring and jointly work out a strategy to get the most equitable and optimum claim payout possible under your policy.
          </p>
        </div> 
      </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <hr>
        <a href="{% url 'claims' %}" class="btn btn-secondary text-white btn-lg">View Our Claim List</a>
      </section>
    
      <!-- Team -->
      <!-- <section id="team" class="py-5">
        <div class="container">
          <h2 class="text-center">Our Team</h2>
          <div class="row text-center">
            {% if teams %}
              {% for realtor in teams %}
                <div class="col-md-4">
                  <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3" style="height: 300px;">
                  <h4>{{ realtor.name }}</h4>
                  <p class="text-success">
                    <i class="fas fa-award text-success mb-3"></i> {{ realtor.designation }}</p>
                  <hr>
                  <p>
                    <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
                  <p>
                    <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </section> -->

{% endblock %}