{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

   <!-- Showcase -->
   {% for content in contents %}
   <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h2 class=" mb-4">
            <span class="txt-type" data-wait="6000" data-words='["Insurance Claim can be a pain.", "We Work towards your Gain."]'></span>
          </h2>
          <p id="para-1">There has been a significant increase in purchase of Insurance policies in India. While the Insuretech and Insurance companies have made technological advancement in their Sales channel,  same cannot be said for claims procedure and handling of the Insurance claim. The insurance companies still mostly use their legacy systems for claims settlement. </p>

          <p id="para-2">The Insured still find themselves guessing and confused when it comes to the Moment of Truth i.e., while filing or lodging an Insurance claim. Number of Grievances, pending and rejected Insurance Claims has increased drastically in last few years.</p>

          <p id="para-3">We at Fair Claim Solutions use a strategy based approach to simplify the technicalities and complexities involved in claim handling procedures. We offer efficient and effective Pre and Post Claim assistance in order to ensure correct and genuine settlement of Claim in time bound manner.</p>
            <hr style="background-color: white">
            <a class="btn btn-custom btn-lg" href="{% url 'about' %}" role="button">Read More</a>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <br><br>
  {% include 'partials/_alerts.html' %}
  <!-- Listings -->
  <section id="listings" class="pb-5 pt-2">
    <div class="container">
      <div class="row">
        {%if claims %}
        {% for claim in claims %}
        <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview shadow-lg ">
            <img class="card-img-top" src="{{claim.photo_main.url}}" style="height:220px;" alt="">
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{claim.title}}</h4>
              </div>
              <hr>
              <a href="{% url 'claim' claim.id %}" class="btn btn-custom btn-block">Learn More</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {%else %}
        <div class="md-12">
          No Claims Description Available
        </div>
        {% endif %}

      </div>
    </div>
  </section>

  {% for content in contents %}
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-hand-holding-usd fa-4x mr-4"></i>
          <hr>
          <h3>Queries</h3>
          <p style="text-align: left;">We stand by you at each stage of Customer Lifecycle:</p>
          <ul style="text-align: left;">
            <li>Advice on Best Insurance policy catering to your needs, if not already taken.</li>
            <li>Effects of Medical History & Lifestyle related Disease on existing or new Policy</li>
            <li>Simple and easy to understand explanation of your Insurance Policy and its Coverage</li>
            <li>Suggestions on Best Hospitals to visit depending on the treatment required or foreseen</li>
            <li>Studying of existing Policy documents to navigate through the claim process</li>
          </ul>
        </div>
        <div class="col-md-4">
              <i class="fas fa-comment fa-4x mr-4"></i>
              <hr>
              <h3>Consulting Services</h3>
              <p style="text-align: left;">Claim documentation, Claims intimation, Coordination with Surveyor and the Insurer can be a frustrating experience. Through Claim Assistance, we propose to take over all these irritants from you at a very nominal fee. We will be involved right from the Claim intimation stage till the final payment of the Claim.</p>
              <ul style="text-align: left;">
                <li>Ensuring that the claim related submissions are within the framework of the Policy Conditions</li>
                <li>Explaining claim supporting documents called for by appointed surveyors</li>
                <li>Preparing claim documents as per the Surveyor's requirements</li>
                <li>Drafting all correspondence pertaining to the claim</li>
                <li>Attending joint meeting with the Surveyors / Insurers to discuss any claim related issues, if they 
                 require to do so</li>
                <li>Negotiating a fair settlement with the Surveyor / Insurer in consultation with the client</li>
              </ul>
            </div>
            <div class="col-md-4">
              <i class="fas fa-hands-helping fa-4x mr-4"></i>
              <hr>
              <h3>Claim Assistance</h3>
              <p style="text-align: left;">Navigating through the maze of Policy wordings, Terms & Conditions can be a nightmare. It is even worst when you face the moment of truth during the time of an insurance claim. Complicated Claims need Experts for proper presentation of facts & figures with the Claim Settling Authorities. Under our claim assistance services we take over the charge and ensure a fair and fast claim settlement.</p>
              <ul style="text-align: left;">
                <li>Detailed review of the Claim by our claim experts to see reason of claim rejection or repudiation</li>
                <li>Appeal rejected or unpaid claims by insurance companies on your behalf</li>
                <li>Attending joint meeting with the Surveyors/Insurers to discuss any claim related issues, if they require to do so</li>
                <li>Negotiating a fair settlement with the Surveyor/Insurer in consultation with the client</li>
              </ul>
            </div>
      </div>
    </div>
  </section>
  {% endfor %}
    
{% endblock %}