{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}

   <!-- Showcase -->
   {% for content in contents %}
   <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-6 mb-4">
            <span class="txt-type" data-wait="4000" data-words='["Insurance Claim can be a pain.", "We Work towards your Gain."]'></span>
          </h1>
          <p class="lead" id="para-1">There has been a significant increase in purchase of Insurance policies in India. While the Insuretech and Insurance companies have made technological advancement in their Sales channel,  same cannot be said for claims procedure and handling of the Insurance claim. The insurance companies still mostly use their legacy systems for claims settlement. </p>

          <p class="lead" id="para-2">The Insured still find themselves guessing and confused when it comes to the Moment of Truth i.e., while filing or lodging an Insurance claim. Number of Grievances, pending and rejected Insurance Claims has increased drastically in last few years.</p>

          <p class="lead" id="para-3">We at Fair Claim Solutions use a strategy based approach to simplify the technicalities and complexities involved in claim handling procedures. We offer efficient and effective Pre and Post Claim assistance in order to ensure correct and genuine settlement of Claim in time bound manner.</p>
            <hr style="background-color: white">
            <a class="btn btn-custom btn-lg" href="{% url 'about' %}" role="button">Read More</a>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
  <br><br>
  {% include 'partials/_alerts.html' %}
  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <div class="row">
        {%if claims %}
        {% for claim in claims %}
        <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview shadow-lg ">
            <img class="card-img-top" src="{{claim.photo_main.url}}" style="height:220px;" alt="">
            <div class="card-img-overlay">
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{claim.title}}</h4>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">{{claim.point_main}}</div>
              </div>
              <hr>
              <a href="{% url 'claim' claim.id %}" class="btn btn-custom btn-block">Learn More</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {%else %}
        <div class="md-12">
          No Claims Description Available
        </div>
        {% endif %}

      </div>
    </div>
  </section>

  {% for content in contents %}
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
              <i class="fas fa-comment fa-4x mr-4"></i>
              <hr>
              <h3>Consulting Services</h3>
              <p style="text-align: justify;">Claim documentation, Claims intimation, Coordination with Surveyor and the Insurer can be a frustrating experience. Through Claim Assistance, we propose to take over all these irritants from you at a very nominal fee. We will be involved right from the Claim intimation stage till the final payment of the Claim.</p>
              <ul style="text-align: justify;">
                <li>Ensuring that the claim related submissions are within the framework of the Policy Conditions</li>
                <li>Explaining claim supporting documents called for by appointed surveyors</li>
                <li>Preparing claim documents as per the Surveyor's requirements</li>
                <li>Drafting all correspondence pertaining to the claim</li>
                <li>Attending joint meeting with the Surveyors / Insurers to discuss any claim related issues, if they 
                 require to do so</li>
                <li>Negotiating a fair settlement with the Surveyor / Insurer in consultation with the client</li>
              </ul>
            </div>
            <div class="col-md-4">
              <i class="fas fa-hands-helping fa-4x mr-4"></i>
              <hr>
              <h3>Assistence</h3>
              <p style="text-align: justify;">Complicated Claims need Experts for proper presentation of facts & figures with the Claim Settling Authorities. With the reduction in Insurance premium rates, Lack of Staff Training and Improper explanation of policy coverage,  we are now witnessing a trend wherein number of repudiated Claims have increased. In order to reopen such repudiated Claims, services of Expert is required. Fair Claim solutions was founded by practicing Doctors and Insurance Industry experts, who assist you with complicated Insurance claims & repudiated claims. Our endeavor is to reduce your out of pocket expenses and get you the claim amount which is genuine</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-hand-holding-usd fa-4x mr-4"></i>
              <hr>
              <h3>Queries</h3>
              <p style="text-align: justify;">We stand by you at each stage of Customer Lifecycle:</p>
              <ul style="text-align: justify;">
                <li>Advice on Best Insurance policy catering to your needs, if not already taken.</li>
                <li>Effects of Medical History & Lifestyle related Disease on existing or new Policy</li>
                <li>Simple and easy to understand explanation of your Insurance Policy and its Coverage</li>
                <li>Suggestions on Best Hospitals to visit depending on the treatment required or foreseen</li>
                <li>Studying of existing Policy documents to navigate through the claim process</li>
              </ul>
            </div>
      </div>
    </div>
  </section>
  {% endfor %}
    
{% endblock %}