.btn-secondary {
  color: #fff !important; }

img {
  width: 100%; }

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  background: url(../img/showcase.svg) no-repeat top center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.9); }

#services {
  background: url(../img/building.svg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(138, 222, 149, 0.8); }

#showcase-inner {
  background: url(../img/building.svg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(138, 222, 149, 0.8); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }
  
/* page transiton */
#para-1 {
  transform: translateX(-1800px);
  animation: text1 2s forwards ease-in 4.5s;
  text-align: justify;
}

#para-2 {
  transform: translateX(-1800px);
  animation: text2 2s forwards ease-in 5.5s;
  text-align: justify;
}

#para-3 {
  transform: translateX(-1800px);
  animation: text3 2s forwards ease-in 6.5s;
  text-align: justify;
}

@keyframes text1 {
  to {
    transform: translateX(0);
  }
}

@keyframes text2 {
  to {
    transform: translateX(0);
  }
}

@keyframes text3 {
  to {
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } 
  }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; 
    min-height: 690px; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
    font-size: 20px; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; }   
    }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } 
  /* page transiton */
#para-1 {
  text-align: center;
}
  #para-2{
    display: none;
  } 
  #para-3{
    display: none;
  } 
  }

    /*custom */
    .bg-custom,.btn-custom{
  background-color: #151073;
  color: #ffffff;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #151073;
    border-color: #151073;
}
.custom-color{
  color: #151073;
}
a .breadcrumb{
  color: #151073 !important;
}

.link-color{
    color: #151073;
}


/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}